@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import java.util
@(message: String, titlePage: String, listaStations: util.ArrayList[Station], whichView: Int,
        listaLocation: util.ArrayList[MetroCar], listaMetro: util.ArrayList[MetroCar])
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main(titlePage) {
        @*
        * Get an `Html` object by calling the built-in Play station
        * template and passing a `String` message.
        *@
        @if(whichView == 0) {
            @inicio(message, titlePage, style = "scala")
        }
        @if(whichView == 1) {
            @station(message, titlePage, style = "scala", listaStations)
        }
        @if(whichView == 2) {
            @location(message, titlePage, style = "scala", listaLocation)
        }
        @if(whichView == 3) {
            @metro(message, titlePage, style = "scala", listaMetro)
        }

    }
