@import java.util
@(message: String, titlePage: String, style: String = "scala", metros: util.ArrayList[MetroCar])

@defining(play.core.PlayVersion.current) { version =>
    <section id="top">
        <div class="wrapper">
            <h1><a href="@routes.HomeController.index()">@message</a></h1>
        </div>
    </section>


    <div id="content" class="wrapper doc">
        <article>
            <h1>@titlePage</h1>

            @if(metros != null) {
                @for(a <- 0 to metros.size() - 1) {
                    <div class="arrow">
                        @if(metros.get(a).currentSchedule != null) {
                            <table>
                                <tr>
                                    <th><b>Id del Metro</b></th>
                                    <th><b>Hora de salida</b></th>
                                    <th><b>Estación origen</b></th>
                                    <th><b>Estación actual</b></th>
                                    <th><b>Estación destino</b></th>
                                </tr>

                                <tr>
                                    <td>@metros.get(a).id</td>
                                    <td>@metros.get(a).currentSchedule.departureTime</td>
                                    <td>@metros.get(a).departure_station</td>
                                    <td><b>@metros.get(a).currentSchedule.departureStation.name</b></td>
                                    <td>@metros.get(a).currentSchedule.destination.name</td>

                                </tr>

                            </table>
                        }
                    <br>
                    </div>
                }
            }

            </p>
        </article>
        <aside>
            <h3>Hora actual: <div id="txt"></div></h3>
            <ul>
                <li><a href="@routes.HomeController.index()">Home</a></li>
            </ul>
            <h3>Passengers</h3>
            <ul>
                <li><a href="@routes.HomeController.passengers()">The amount of passenger at every station</a></li>
            </ul>
            <h3>Location</h3>
            <ul>
                <li><a href="@routes.HomeController.location()">Metrocar location</a></li>
            </ul>
            <h3>Each Metrocar</h3>
            <ul>
                <li><a href="@routes.HomeController.metro()">The number of passengers in each Metrocar</a></li>
            </ul>
            <h3>Reports</h3>
            <ul>
                <li><a href="@routes.HomeController.densityPassenger()">Density of Passenger</a></li>
            </ul>
        </aside>

    </div>
}
