@import java.util
@(message: String, titlePage: String, style: String = "scala", metros: util.ArrayList[MetroCar])

@defining(play.core.PlayVersion.current) { version =>
    <section id="top">
        <div class="wrapper">
            <h1><a href="@routes.HomeController.index()">@message</a></h1>
        </div>
    </section>
    <div id="content" class="wrapper doc">
        <article>
            <h1>@titlePage</h1>

            @if(metros != null) {
                @for(a <- 0 to metros.size() - 1) {
                    <div class="arrow">
                        <table>
                            <tr>
                                <th>Id del Metro</th>
                                <th>Capacidad</th>
                                <th>Pasajeros en el Metro Car</th>
                            </tr>
                            <tr>
                                <td>@metros.get(a).id</td>
                                <td>@metros.get(a).capacity</td>
                                @if(metros.get(a).passengers != null) {
                                    <td><b>@metros.get(a).passengers.size()</b></td>
                                }
                            </tr>
                        </table>
                        <br>
                    </div>
                }
            }

            </p>
        </article>
        <aside>
            <h3>Hora actual: <div id="txt"></div></h3>
            <h3>Passengers</h3>
            <ul>
                <li><a href="@routes.HomeController.passengers()">The amount of passenger at every station</a></li>
            </ul>
            <h3>Location</h3>
            <ul>
                <li><a href="@routes.HomeController.location()">Metro-car location</a></li>
            </ul>
            <h3>Each Metro</h3>
            <ul>
                <li><a href="@routes.HomeController.metro()">The number of passengers in each metro-car</a></li>
            </ul>

        </aside>

    </div>
}